@import "../common.scss";
.nav {
    ul {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 20px;
        li {
            cursor: pointer;
        }
        li:hover {
            color: $main-color;
        }
    }
}

.right-content {
    .el-col {
        margin-left: 10px;
        margin-top: 20px;
    }
    .carousel {
        .el-carousel__container,
        .el-carousel {
            height: 240px;
            img {
                height: 240px;
                width: 100%;
            }
        }
    }
    .pic {
        height: 240px;
        background-image: url(http://p0.meituan.net/codeman/e473bb428f070321269b23370ff02ba956209.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .info {
        text-align: center;
        padding: 20px;
        background: #fff;
        box-shadow: 0 0 1px 0 rgba(0, 0, 1px, 0.3);
        height: 200px;
        .avatar {
            img {
                box-sizing: border-box;
                border: 4px solid #eee;
                width: 60px;
                border-radius: 50%;
            }
            margin-bottom: 20px;
        }
        P {
            margin-bottom: 20px;
        }
    }

    .guanggao {
        .jiudian {
            width: 100%;
            height: 165px;
            background-image: url(http://p1.meituan.net/codeman/8cce56c467a17e04f3094d1e455462a0132772.png);
            background-size: 100%;
        }
        .zishi {
            width: 100%;
            height: 165px;
            background-size: 100%;
            background-image: url(http://p1.meituan.net/codeman/16442c19da1f1c4544f794e29d99c92051716.jpg);
        }
        .hezuo {
            width: 100%;
            height: 165px;
            background-size: 100%;
            background-image: url(http://p1.meituan.net/codeman/5b21cddb4bb1cbc3a9c3bce0f726c75940469.jpg);
        }
        .download {
            background: #fff;
            box-shadow: 0 0 1px 0 rgba(0, 0, 1px, 0.3);
            height: 165px;
            text-align: center;
            .qrcode-box {
                img {
                    width: 100px;
                }
                margin-bottom: 10px;
            }
            .name{
                margin-bottom: 5px;
            }
            .chwl{
                font-size: 14px;
                span{
                    color: $main-color;
                    margin-right: 4px;
                }
            }
        }
    }
}
