@import "../common.scss";
.input input {
    width: 180px;
    margin-left: 20px;
}
.input {
    position: relative;
    margin-left: 10px;
}

dl {
    position: absolute;
    padding: 10px;
    z-index: 997;
    top: 100%;
    left: 0px;
    background: #fff;
    width: 200px;
    border: 1px solid #eee;
    margin-top: 5px;
    &.city {
        width: 500px;
    }
    dt {
        font-weight: 700;
        color: #aaa;
        margin-bottom: 20px;
    }
    dd {
        font-size: 13px;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        span {
            text-align: center;
            padding: 3px 5px;
            margin-top: 8px;
            margin-left: 10px;
            border-radius: 20px;
            cursor: pointer;
            &:hover {
                background: #eee;
            }
            &.active {
                background: $main-color;
                color: #fff;
            }
        }
    }
}
