@import "./reset.css";
@import "./reElementCss.css";
body {
    background: rgb(196, 188, 188);
}

::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

a{
    color: inherit;
}
