@import "../common.scss";
.nav {
    padding: 20px 0;
    a {
        font-size: 13px;
        padding: 0px 10px;
        &:hover {
            color: $main-color;
        }
    }

    i {
        font-size: 12px;
    }
}
