@import "../common.scss";
.recommend-item {
    line-height: 1.2;
    margin-bottom: 10px;
    .pic {
        img {
            width: 190px;
            height: 105px;
            border-radius: 10px;
        }
    }
    .name {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
    }
    .score {
        font-size: 12px;
        display: flex;
    }
    .price{
        color: $main-color;
        .text{
            font-size: 13px;
        }
    }
}
